@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {}

.imgCard {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgCard img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

}

.linearGradient {
    bottom: 0;
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card h2 {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 0 0 13px 16px;
    width: 100px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}


/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/

@media screen and (max-width: 767px) {

    .card {
        width: 100%;
        margin-bottom: 1%;
        margin-top: 0;
    }

}