.section-gallery {
    border-radius: 25px;
    margin-top: 4%;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/

@media screen and (max-width: 767px) {
    .section-gallery {
        margin-bottom: 0;
        padding-bottom: 0;

    }
}