.section-gallery {

    background: #f1eeee;
    border-radius: 25px;
    margin-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/

@media screen and (max-width: 767px) {
    .section-gallery {
        background: white;
        margin-bottom: 0;
        padding-bottom: 0;

    }
}