@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');




.homePage {
    padding: 20px 60px 20px 60px;
}

body {
    background-image: url("../Assets/Home/fond-texture-metal-2.jpg");
    background-size: cover;
    height: 100vh;
    margin: auto;
}

.container-img-h1 {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: baseline;
}

.container-img-h1 img {
    object-fit: cover;
    height: 40vh;
    filter: brightness(75%);
    opacity: 0.5;
    height:
        100vh;
    width: 100%;
}

.container-img-h1 h1 {
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 5vh;
    line-height: 142.6%;
    margin-top: 15vh;
    width: 95%;
}

.fin-de-page {
    height: 9vh;
}

/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/



@media screen and (max-width: 767px) {


    .homePage {
        padding: 20px;

    }

    .container-img-h1 h1 {
        margin-top: 100px;
        padding: 20px;
        font-size: 24px;
        font-weight: 500;
        width: 90%;
    }


}