.container-tag-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.stars {
    height: 36px;
    width: 196px;
}

.stars {
    margin-left: 7px;
}

/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/

@media screen and (max-width: 767px) {

    .stars {
        height: 20px;
        margin-left: 5px;
    }

}