.tag {
    background: #FF6060;
    border-radius: 10px;
    width: 115px;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 3px;

}


/* ///////////////////////////////////RESPONSIVELY MOBILE/////////////////////////////////////// */
/* On screens, when the width of the window is a maximum of 767px (mobile phone)*/

@media screen and (max-width: 767px) {
    .tag {
        width: 105px;
        font-size: 13px;
        border-radius: 5px;


    }


}